<center><h2>The Sparks Foundation</h2></center>
<center><h2>Data Science And Business Analytics - Task4</h2></center>

### Hello, I am **Oday Mourad**. 
 Here is my solution for **Task4** in Sparks Foundation-Data Science And Business Analytics

**Context:**

Information on more than 180,000 Terrorist Attacks

The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.

**Content:**

Geography: Worldwide

Time period: 1970-2017, except 1993

Unit of analysis: Attack

Variables: >100 variables on location, tactics, perpetrators, targets, and outcomes

In [3]:
import numpy as np
import pandas as pd
from IPython.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

In [2]:
# Let's descove the data:
path = "globalterrorism.csv"
data = pd.read_csv(path , encoding="latin1")
print("Data imported successfully")

C:\Users\User\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3325: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Data imported successfully

In [3]:
print("Our dataset consist of {} samples".format(data.shape[0]))
print('-'*50)
print("There are {} features".format(data.shape[1]))
print('-'*50)

data.head(5)

Our dataset consist of 181691 samples
--------------------------------------------------
There are 135 features
--------------------------------------------------

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,1.970000e+11,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,1.970000e+11,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,1.970010e+11,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,1.970010e+11,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,1.970010e+11,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

**1 ) Which features are available in the dataset?**

In [4]:
data.columns.values

array(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region', 'region_txt',
       'provstate', 'city', 'latitude', 'longitude', 'specificity',
       'vicinity', 'location', 'summary', 'crit1', 'crit2', 'crit3',
       'doubtterr', 'alternative', 'alternative_txt', 'multiple',
       'success', 'suicide', 'attacktype1', 'attacktype1_txt',
       'attacktype2', 'attacktype2_txt', 'attacktype3', 'attacktype3_txt',
       'targtype1', 'targtype1_txt', 'targsubtype1', 'targsubtype1_txt',
       'corp1', 'target1', 'natlty1', 'natlty1_txt', 'targtype2',
       'targtype2_txt', 'targsubtype2', 'targsubtype2_txt', 'corp2',
       'target2', 'natlty2', 'natlty2_txt', 'targtype3', 'targtype3_txt',
       'targsubtype3', 'targsubtype3_txt', 'corp3', 'target3', 'natlty3',
       'natlty3_txt', 'gname', 'gsubname', 'gname2', 'gsubname2',
       'gname3', 'gsubname3', 'motive', 'guncertain1', 'guncertain2',
       'guncertain3', 'individual', 'nperps', 'nperpcap', 'claimed',
       'claimmode', 'claimmode_txt', 'claim2', 'claimmode2',
       'claimmode2_txt', 'claim3', 'claimmode3', 'claimmode3_txt',
       'compclaim', 'weaptype1', 'weaptype1_txt', 'weapsubtype1',
       'weapsubtype1_txt', 'weaptype2', 'weaptype2_txt', 'weapsubtype2',
       'weapsubtype2_txt', 'weaptype3', 'weaptype3_txt', 'weapsubtype3',
       'weapsubtype3_txt', 'weaptype4', 'weaptype4_txt', 'weapsubtype4',
       'weapsubtype4_txt', 'weapdetail', 'nkill', 'nkillus', 'nkillter',
       'nwound', 'nwoundus', 'nwoundte', 'property', 'propextent',
       'propextent_txt', 'propvalue', 'propcomment', 'ishostkid',
       'nhostkid', 'nhostkidus', 'nhours', 'ndays', 'divert',
       'kidhijcountry', 'ransom', 'ransomamt', 'ransomamtus',
       'ransompaid', 'ransompaidus', 'ransomnote', 'hostkidoutcome',
       'hostkidoutcome_txt', 'nreleased', 'addnotes', 'scite1', 'scite2',
       'scite3', 'dbsource', 'INT_LOG', 'INT_IDEO', 'INT_MISC', 'INT_ANY',
       'related'], dtype=object)

There are too many features, we will choose the most important.
 - Date Features : year, month, day.
 - Location Features : Country, Region, City.
 - Is Suicide Attack.
 - Attack Type.
 - Target Type.
 - Weapon Type.
 - Death toll informations.
 - Injury number informations.

In [5]:
data = data.loc[: ,["iyear" , "imonth", "iday" ,'country_txt' , "region_txt" , "provstate",
                "city" , "suicide" , "attacktype1_txt" , "targtype1_txt" , "weaptype1_txt" , 
                  "nkill" , "nkillus" , "nkillter" , "nwound" , "nwoundus" , "nwoundte" 
                   ]]
data.rename(columns = {"iyear" : "year" , "imonth" : "month" , "iday" : "day" ,"country_txt" : "country" ,"region_txt" : "region", "provstate":"province" , "attacktype1_txt" : "attack type" , 
             "targtype1_txt" : "target type" , "weaptype1_txt" : "weapon type"} , inplace = True)

**2 ) Let's check missed and duplicate values:**

In [6]:
data.isnull().sum()

year               0
month              0
day                0
country            0
region             0
province         421
city             434
suicide            0
attack type        0
target type        0
weapon type        0
nkill          10313
nkillus        64446
nkillter       66958
nwound         16311
nwoundus       64702
nwoundte       69143
dtype: int64

features nkillus, nkillter, nwoundus, nwoundte have too many null values so we will delete them.

In [7]:
# Missed Values:
data.drop(columns=["nkillus" , "nkillter" , "nwoundus" , "nwoundte"] , inplace= True)

In [8]:
# Duplicated Values:
print("There are {} duplicated Row.".format(data.duplicated().sum()))

There are 14403 repeating Row.

I think that It's very rare for terrorist attacks that are similar in all of this informations to happened at the same time.
so I would expect there to be an error in the data collection.
We will delete the duplicate samples.

In [9]:
data.drop_duplicates(subset=None, keep='first', inplace=True)

In [10]:
data.duplicated().sum()

0

**3 ) Which features are categorical :**
 - country (Nominal)
 - region (Nominal)
 - city (Nominal)
 - province (Nomial)
 - attack type (Nomial)
 - target type (Nomial)
 - weapon type (Nomial)

**4 ) Which features are numerical :**
 - year (discrete)
 - month (discrete)
 - day (discrete)
 - suicide (discrete)
 - nkill (discrete)
 - nwound (discrete)

**5 ) What are the data types for various features?**

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167288 entries, 0 to 181690
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   year         167288 non-null  int64
 1   month        167288 non-null  int64
 2   day          167288 non-null  int64
 3   country      167288 non-null  object
 4   region       167288 non-null  object
 5   province     166867 non-null  object
 6   city         166866 non-null  object
 7   suicide      167288 non-null  int64
 8   attack type  167288 non-null  object
 9   target type  167288 non-null  object
 10  weapon type  167288 non-null  object
 11  nkill        158284 non-null  float64
 12  nwound       152585 non-null  float64
dtypes: float64(2), int64(4), object(7)
memory usage: 17.9+ MB

In [12]:
# Save Processed Data, Let's start data visualization with Tableau.
data.to_csv('globalterrorism_processed_data.csv', index=False)

In [8]:
%%HTML
<div class='tableauPlaceholder' id='viz1655466544245' style='position: relative'><noscript><a href='#'><img alt='Global Terrorizm ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gl&#47;GlobalTerrorizm&#47;GlobalTerrorism&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='GlobalTerrorizm&#47;GlobalTerrorism' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gl&#47;GlobalTerrorizm&#47;GlobalTerrorism&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1655466544245');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1169px';vizElement.style.height='2254px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1169px';vizElement.style.height='2254px';} else { vizElement.style.width='100%';vizElement.style.height='2877px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

### Hot Zones Of Terrorism:

 - last century: 
    - Countries : Colombia, Peru, Elsalvador
    - Cities: Beirut, Belfast, Gikoro
    - Region : South America, Western Europe, Middle East and North Africa.
 
 - current century:
    - Countries:  Iraq, Afghanistan and Pakistan.  
    - Cities:  Baghdad, Mosul, Mogadishu
    - Region: Middle East, South Asia, Sub-Saharan Africa
    
 - full date range: 
     - Countries:  Iraq, Pakistan, Afghanistan.
     - Cities: Baghdad, Mosul, Mogadishu.
     - Region: Middle East, South Asia, Sub-Saharan Africa
     
     
### Security Issues And Insights:

  - Reducing the manufacture of explosives and  Firearms and not sell them in the black market nor the terrorist groups.
  - search for the causes of the create of terrorist groups in hot spots and gradually eliminating them.
  - Protect the Private Citizens and Properties, and Support the military and police with protective gear in the hot zones.